* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1534447677768-be436bb09401?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
    background-size: cover;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #1c1c1c;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 10px;
    color: #1c1c1c;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  input[type="submit"] {
    background-color: #7289da;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #677bc4;
  }
  
  .support {
    margin-top: 30px;
    text-align: center;
    color: #1c1c1c;
  }
  
  .support p {
    margin-bottom: 10px;
  }
  
  .support a {
    color: #7289da;
    text-decoration: none;
  }
  
  .notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #55c57a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }

  .notificationfail {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #FF0000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
